@import "../styling/config";

.form-wrapper {
  .resource-form {
    display: none;
  }

  &--show-resource-form {
    .dataset-form {
      display: none;
    }

    .resource-form {
      display: block;
    }
  }
}
