@import "../styling/config.scss";

.container-main {
  margin: 16px 0 75px;
}

h1 {
  font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif !important;
  font-size: 26px !important;
  margin-bottom: 28px !important;
}

.dcatd-form {
  .control-label {
    @extend %heavy-font;

    font-size: 16px;
    margin-bottom: 2px;

    .required {
      color: transparent;

      &::after {
        @extend %light-font;

        color: $warm-grey;
        content: "(verplicht)";
        font-size: 14px;
      }
    }
  }

  .field-description {
    @extend %light-font;

    color: $brownish-grey;
    font-size: 14px;
  }

  .form-control {
    @extend %base-font;

    border: 1px solid $brownish-grey !important;
    border-radius: 0 !important;
    color: $black;
    height: 32px;
    padding: 4px 10px;

    &.multiple {
      height: auto;
    }
  }

  &-button {
    @extend %heavy-font;

    background-color: $white;
    border: 1px solid $pinkish-grey;
    color: $brownish-grey;
    line-height: 21px;
    margin-right: 8px;
    padding: 2px 8px 1px;

    &:hover {
      background-color: $pinkish-grey;
    }

    &-submit {
      background-color: $darkish-blue;
      border-color: $darkish-blue;
      color: $white;

      &:hover {
        background-color: $darker-blue;
        border-color: $darker-blue;
      }
    }

    &-remove {
      float: right;
      position: relative;
    }
  }

  select {
    &.form-control {
      background-color: $white;
      border-width: 0 !important;
      outline: 1px solid $brownish-grey;
    }
  }

  textarea {
    &.form-control {
      height: 128px;
    }
  }

  .form-group {
    .has-error {
      border-left: 2px solid $red;
      padding-left: 10px;

      .form-control {
        border-color: $red !important;
      }

      .control-label {
        color: $black;
      }
    }
  }

  .error-detail {
    list-style: none;
    margin: 0;
    padding: 0;

    .text-danger {
      margin: 0;
      padding: 0;
    }
  }

  fieldset > {
    .field-object {
      width: 60%;
    }
  }

  // rich text editor
  .RichTextEditor__root___2QXK- {
    border-color: $black;
  }

  // day picker

  .DayPickerInput {
    position: relative;

    .form-control {
      background-color: transparent;
    }

    &::after {
      @extend %icon-calendar;
      content: "";
      height: 30px;
      position: absolute;
      right: 0;
      top: 1px;
      width: 30px;
      z-index: -1;
    }
  }

  .DayPicker {
    padding: 0;

    &-NavButton {
      height: 34px;
      top: 7px;
      width: 35px;

      &--next {
        @extend %icon-arrow-right;
        right: 6px;

        &:hover {
          @extend %icon-arrow-right-white;
        }
      }

      &--prev {
        @extend %icon-arrow-left;
        left: 6px;

        &:hover {
          @extend %icon-arrow-left-white;
        }
      }

      &:hover {
        background-color: $red !important;
        border-radius: 0 !important;
        color: $white !important;
      }
    }

    &-Caption > div {
      @extend %heavy-font;

      font-size: 16px;
      padding: 2px 30px;
      text-align: center;
    }

    &-Weekday {
      @extend %heavy-font;

      color: $black;
      font-size: 12px;
      font-weight: normal;
      padding: 0 7.5px 17px;
    }

    &-Month {
      border-collapse: separate;
      border-spacing: 3px;
      width: 262px;
    }

    &-Day {
      @extend %heavy-font;

      border-radius: 0 !important;
      color: $black;
      font-size: 18px;
      padding: 5px 6px;

      &--today {
        border: 1px solid $black;
        font-weight: normal;
      }

      &--disabled {
        color: $warm-grey;

        &.DayPicker-Day--today {
          border-color: $warm-grey;
        }
      }

      &--selected {
        background-color: $red !important;
        color: $white !important;
      }

      &:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
        background-color: $white !important;
        color: $red !important;
        text-decoration: underline;

        &.DayPicker-Day--selected {
          background-color: $red !important;
          color: $white !important;
        }
      }
    }
  }

  .DayPickerInput-Overlay {
    border: 2px solid $black;
    box-shadow: none;
  }

  &-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    
    &__container {
            width: 50%;
            margin: 0 25%;
            padding: 10px;
        }
    }  
}
