@import "../../styling/config.scss";

.markdown {
  .form-control {
    resize: vertical;
  }

  &__preview {
    background-color: $white-four;
    height: auto;
    margin-top: 4px;
    overflow: auto;
    padding: 4px 10px;

    &-title {
      @extend %heavy-font;

      margin-top: 16px;
    }
  }
}
