@import "../../styling/config.scss";

.file {
  &__upload {
    width: 60% !important;

    &-label {
      background-color: $darkish-blue;
      color: $white;
      display: inline-block;
      padding: 4px 6px;
    }

    &--hidden {
      opacity: 0;
      position: absolute;
    }
  }

  &__progress {
    border: 1px  solid $warm-grey;
    position: relative;
    width: 60%;

    &-percentage {
      background-color: $white-two;
      height: 38px;
    }

    &-filename {
      left: 16px;
      position: absolute;
      top: 9px;
    }

    &-close-button {
      @extend %icon-verwijder;
      background-color: transparent;
      border-style: none;
      height: 30px;
      position: absolute;
      right: 4px;
      top: 4px;
      width: 30px;

      &:hover {
        @extend %icon-verwijder-white;
        background-color: $red;
      }
    }
  }

  &__purl {
    background-color: $white-four;
    height: auto;
    margin-top: 4px;
    overflow: auto;
    padding: 4px 10px;

    &-title {
      @extend %heavy-font;

      margin-top: 16px;
    }
  }

  .form-control {
    margin-bottom: 10px;
  }
}
