@import "../../styling/config.scss";

.resource-form {
  &__back {
    @extend %heavy-font;
    background-color: $white;
    border-bottom: 1px solid $pinkish-grey;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-top: -14px;
    padding: 9px 0 8px 30px;
    position: relative;
    text-align: left;
    width: 100%;

    &::before {
      @extend %icon-arrow-left;
      background-size: 100%;
      content: "";
      display: inline-block;
      height: 22px;
      left: 0;
      position: absolute;
      width: 22px;
    }
  }

  &__disclaimer {
    color: $brownish-grey;
    font-size: 14px;
    margin-top: 6px;
    width: 50%;
  }
}
