@import "../../styling/config";

.resources {
  .resources-type {
    &-header {
      border-bottom: 1px solid $pinkish-grey;
      color: $black;
      display: flex;
      font-size: 17px;
      padding: 8px 23px 15px 20px;

      &__title {
        align-self: center;
        flex-grow: 1;
        font-weight: bold;
        text-align: left;
      }

      &__button  {
        align-self: center;
        background-color: $white;
        border: 1px solid $pinkish-grey;
        color: $brownish-grey;
        font-size: 23px;
        padding: 0 9px;

        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }

    &-content {
      border-bottom: 1px solid $pinkish-grey;
      font-size: 16px;
      margin-bottom: 23px;
      padding: 0 20px;

      &--no-resources {
        background-color: $white-four;
        color: $warm-grey;
        font-style: italic;
        margin: 0 -20px;
        padding: 22px 0;
        text-align:  center;
      }
    }
  }
}
