@import "../../styling/config.scss";

.ui {
  &.modal {
    bottom: auto !important;

    ol {
      margin: 3px 0 0 -6px;

      li {
        padding-left: 4px;
      }
    }

    .actions {
      text-align: left !important;
    }
  }
}
