@import "../config";

html,
body {
  font-family: "Avenir LT W01 55 Roman", Arial, sans-serif;
}

.dcatd-form {
  padding-bottom: 30px;

  .control-label {
    margin-bottom: 2px;
  }

  .field-description {
    color: $brownish-grey;
  }

  .form-control {
    border: 1px solid $brownish-grey !important;
    border-radius: 0 !important;
    color: $black;
    height: 32px;
    padding: 4px 10px;
  }

  select {
    &.form-control {
      background-color: $white;
      border-width: 0 !important;
      outline: 1px solid $brownish-grey;
    }
  }

  .form-group {
    .has-error {
      border-left: 2px solid $red;
      padding-left: 10px;

      .form-control {
        border-color: $red !important;
      }

      .control-label {
        color: $black;
      }
    }
  }

  .error-detail {
    list-style: none;
    margin: 0;
    padding: 0;

    .text-danger {
      margin: 0;
      padding: 0;
    }
  }

  fieldset > {
    .field-object {
      width: 60%;
    }
  }

  .DayPickerInput {
    position: relative;

    &::after {
      @extend %icon-calendar;
      content: "";
      height: 30px;
      position: absolute;
      right: 0;
      top: 2px;
      width: 30px;
    }
  }

  .DayPicker-Month {
    width: 100%;
  }

  .DayPicker-Months {
    width: 296px;
  }

  .DayPickerInput-Overlay {
    border: 2px solid $black;
    box-shadow: none;
  }

  .DayPicker-Day {
    border-radius: 0 !important;
    color: $black;
    height: 34px !important;

    &--today {
      border: 1px solid $black;
      font-weight: normal;
    }

    &--disabled {
      color: $brownish-grey;

      &.DayPicker-Day--today {
        border-color: $brownish-grey;
      }
    }

    &--selected {
      background-color: $red !important;
      color: $white !important;
    }

    &:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
      background-color: $white !important;
      color: $red !important;
      text-decoration: underline;

      &.DayPicker-Day--selected {
        background-color: $red !important;
        color: $white !important;
      }
    }
  }

  .DayPicker-NavButton {
    height: 34px;
    top: 7px;
    width: 35px;

    &--next {
      @extend %icon-arrow-right;
      right: 6px;

      &:hover {
        @extend %icon-arrow-right-white;
      }
    }

    &--prev {
      @extend %icon-arrow-left;
      left: 6px;

      &:hover {
        @extend %icon-arrow-left-white;
      }
    }

    &:hover {
      background-color: $red !important;
      border-radius: 0 !important;
      color: $white !important;
    }
  }

  .DayPicker-Caption {
    padding: 2px 30px;
    text-align: center;
  }
}
