@import "../styling/config";

.ui {
  &.modal {
    bottom: auto !important;
  }
}

.container-main {
  margin: 75px 0;
}

.dcatd-form {
  .control-label {
    @extend %heavy-font;

    font-size: 16px;
    margin-bottom: 2px;
  }

  .field-description {
    @extend %light-font;

    color: $brownish-grey;
    font-size: 14px;
  }

  .form-control {
    @extend %base-font;

    border: 1px solid $brownish-grey !important;
    border-radius: 0 !important;
    color: $black;
    height: 32px;
    padding: 4px 10px;
  }

  &-button {
    @extend %heavy-font;

    background-color: $white;
    border: 1px solid $pinkish-grey;
    color: $brownish-grey;
    margin-right: 8px;
    padding: 2px 8px 1px;

    &:hover {
      background-color: $pinkish-grey;
    }

    &-submit {
      background-color: $red;
      border-color: $red;
      color: $white;

      &:hover {
        background-color: $darker-red;
      }
    }

    &-remove {
      background-color: $darkish-blue;
      border-color: $darkish-blue;
      color: $white;
      float: right;
      padding-left: 26px;
      position: relative;

      &:hover {
        background-color: $darker-blue;
        border-color: $darker-blue;
      }

      &::before {
        @extend %icon-delete-white;
        content: "";
        height: 26px;
        left: 0;
        position: absolute;
        top: -1px;
        width: 26px;
      }
    }
  }

  select {
    &.form-control {
      background-color: $white;
      border-width: 0 !important;
      outline: 1px solid $brownish-grey;
    }
  }

  .form-group {
    .has-error {
      border-left: 2px solid $red;
      padding-left: 10px;

      .form-control {
        border-color: $red !important;
      }

      .control-label {
        color: $black;
      }
    }
  }

  .error-detail {
    list-style: none;
    margin: 0;
    padding: 0;

    .text-danger {
      margin: 0;
      padding: 0;
    }
  }

  fieldset > {
    .field-object {
      width: 60%;
    }
  }

  .DayPickerInput {
    position: relative;

    &::after {
      @extend %icon-calendar;
      content: "";
      height: 30px;
      position: absolute;
      right: 0;
      top: 2px;
      width: 30px;
    }
  }

  .DayPicker {
    padding: 0;

    &-NavButton {
      height: 34px;
      top: 7px;
      width: 35px;

      &--next {
        @extend %icon-arrow-right;
        right: 6px;

        &:hover {
          @extend %icon-arrow-right-white;
        }
      }

      &--prev {
        @extend %icon-arrow-left;
        left: 6px;

        &:hover {
          @extend %icon-arrow-left-white;
        }
      }

      &:hover {
        background-color: $red !important;
        border-radius: 0 !important;
        color: $white !important;
      }
    }

    &-Caption > div {
      @extend %heavy-font;

      font-size: 16px;
      padding: 2px 30px;
      text-align: center;
    }

    &-Weekday {
      @extend %heavy-font;

      color: $black;
      font-size: 12px;
      font-weight: normal;
      padding: 0 7.5px 17px;
    }

    &-Month {
      border-collapse: separate;
      border-spacing: 3px;
      width: 100%;
    }

    &-Months {
    }

    &-Day {
      @extend %heavy-font;

      border-radius: 0 !important;
      color: $black;
      font-size: 18px;
      padding: 5px 6px;

      &--today {
        border: 1px solid $black;
        font-weight: normal;
      }

      &--disabled {
        color: $warm-grey;

        &.DayPicker-Day--today {
          border-color: $warm-grey;
        }
      }

      &--selected {
        background-color: $red !important;
        color: $white !important;
      }

      &:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
        background-color: $white !important;
        color: $red !important;
        text-decoration: underline;

        &.DayPicker-Day--selected {
          background-color: $red !important;
          color: $white !important;
        }
      }
    }
  }

  .DayPickerInput-Overlay {
    border: 2px solid $black;
    box-shadow: none;
  }
}
