%icon-arrow-right-black {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'><path d='M407.8059 240L353 296.6444l208.3433 215.3788L353 727.3556 407.8059 784 671 512.0232z'/></svg>");
}

%icon-arrow-right-white {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'><path fill='white' d='M407.8059 240L353 296.6444l208.3433 215.3788L353 727.3556 407.8059 784 671 512.0232z'/></svg>");
}

%icon-arrow-left-black {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'><path d='M407.8059 240L353 296.6444l208.3433 215.3788L353 727.3556 407.8059 784 671 512.0232z'/></svg>");
  transform: rotate(180deg);
}

%icon-arrow-left-white {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'><path fill='white' d='M407.8059 240L353 296.6444l208.3433 215.3788L353 727.3556 407.8059 784 671 512.0232z'/></svg>");
  transform: rotate(180deg);
}
